@import "tailwindcss";



html,
body {
    min-height: 100%;
    background-color: #244a76;
}
@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: rgb(16, 22, 34);
    }
}


p {
    color:white;
}