@import "tailwindcss";



html,
body {
    min-height: 100%;
    background-color: #244a76;

    font-family: 'Poppins', sans-serif;
}
@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: rgb(16, 22, 34);
    }
}


p {
    color:white;
}

.pregunta-texto {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}